@font-face {
    font-family: MrDafoe;
    src: url(/public/fonts/MrDafoe/MrDafoe-Regular.ttf);
}

@font-face {
    font-family: Baskerville;
    src: url(/public/fonts/Baskerville/Baskervville-Regular.ttf);
}

@font-face {
    font-family: Montez;
    src: url(/public/fonts/Montez/Montez-Regular.ttf);
}

body {
    background-color: #1c1a24;
    font-family: Baskerville;
}

h1 {
    margin-top: 10vh;
    margin-bottom: 5vh;
    text-align: center;
    text-shadow: 2px 1px 10px black;
    font-family: Montez;
    font-size: 64px;
    color: #6B0F1A;
}

h2 {
    color: #EAF7CF;
    text-shadow: 2px 1px 10px black;
    margin-top: 5px;
    margin-bottom: 0px;
    font-family: Montez;
    font-size: 40px;
    text-align: center;
}

.date {
    text-align: center;
    margin: 1px;
}

p, .content, a {
    color: #EAF7CF;
    text-decoration: none;
}

.content {
    text-align: justify;
    text-indent: 5vh;
}

#messages-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 15vh;
}

#messages-list a {
    display: flex;
    max-width: 700px;
}

.message-show {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    background-color: #26242c;
}

.message-content {
    margin: 0px 5vh;
}

.delete-button, .save-button {
    color: #EAF7CF;
    font-family: Baskerville;
}

.save-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.new-button, .index-button {
    position: absolute;
    right: 5px;
    top: 5px;
}

.edit-button {
    position: absolute;
    right: 5px;
    top: 45px
}

.edit-button, 
.delete-button, 
.new-button,
.index-button,
.save-button {
    padding: 8px;
    box-shadow: 1px 1px black;
}

.edit-button, 
.new-button,
.index-button,
.save-button {
    background-color: #1f2858;
}

.delete-button {
    background-color: #6B0F1A;
}

.edit-button:hover, 
.new-button:hover,
.edit-button:hover {
    cursor: pointer;
    box-shadow: -1px -1px black;
}

.salutations {
    font-size: 40px;
    margin: 20px;
    font-family: Montez;
}

.signed {
    color: #EAF7CF;
    text-shadow: 2px 1px 10px black;
    font-size: 40px;
    margin: 20px;
    font-family: MrDafoe;
    text-align: right;
}

#messages {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#messages div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#messages div label {
    color: #EAF7CF;
    font-family: Baskerville;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-shadow: 2px 1px 5px black;
}

#messages div #messages_title,
#messages div #messages_recipient {
    background-color: #EAF7CF;
    width: 500px;
    padding: 5px;
    border: 3px solid black;
    color: #6B0F1A;
    border-radius: 10px;
    text-align: center;
    font-family: Baskerville;
    font-size: 16px;
    font-weight: bolder;
}

#messages div #messages_text {
    background-color: #EAF7CF;;
    width: 700px;
    max-width: 1000px;
    height: 500px;
    max-height: 700px;
    border: 3px solid black;
    color: black;
    border-radius: 5px;
    padding: 10px;
    text-align: justify;
    font-family: Baskerville;
    font-size: 12px;
    font-weight: bolder;
}