{% extends 'base.html.twig' %}

{% block title %}New Messages{% endblock %}

{% block body %}
    <h1>Leave them another message</h1>

    {{ include('messages/_form.html.twig') }}

    <a href="{{ path('app_home') }}">Back to hopeless pining</a>
{% endblock %}
