<header>
    <p class="website-name">
        <a href="/">Messages to you</a>
    </p>
        <nav class="header-nav">
            <ul class="main-nav">
                <li class="main-nav-link"><a href="/messages">Messages</a></li>
                <li class="main-nav-link"><a href="#">Stickers</a></li>
                <li class="main-nav-link"><a href="#">Account</a></li>
                <li class="main-nav-link"><a href="/logout">Logout</a></li>
                <li class="main-nav-link"><a href="/login">Login</a></li>
                <li class="main-nav-link"><a href="/register">Register</a></li>
            </ul>
        </nav>
</header>